# Compiled data #
#################
*.a
*.mod
*.o
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
bin/
ensight-3D
monitor
grid
!grid/
data.*
part.*
ibm.*
levelset.*

# Edited Makefile.in #
######################
Makefile.in
